<div>
    <div class="outter_modal" *ngIf="popUp === true" (click)="closePopUp($event)">
        <div class="modal" >
            <img [src]="popUpImage" (click)="enablingZoom(true)" *ngIf="!enableZoom">
            <figure *ngIf="enableZoom" class="zoom" (mousemove)="zoom($event)" [style.backgroundImage]="'url('+ popUpImage +')'" (click)="enablingZoom(false)">
                <img [src]="popUpImage" />
            </figure>
        </div>
    </div>
    <div class="outter_modal" *ngIf="spinner">
        <div class="modal">
            <div class="spinner">
                <img src="../../../content/images/spinner.gif" />
            </div>
        </div>
    </div>
    <h2>
        <span jhiTranslate="history.detail.title">Users</span>
    </h2>
    <br>
    <div *ngIf="user">
        <div class="center-div">
            <button type="submit" [disabled]="!availableButtons.campi" class="btn" [ngClass]="(!availableButtons.campi) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button1" (click)="changeType('campi')">Campimetría</button>
            <button type="submit" [disabled]="!availableButtons.topo" class="btn" [ngClass]="(!availableButtons.topo) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button2" (click)="changeType('topo')">Topografía</button>
            <button type="submit" [disabled]="!availableButtons.octp" class="btn" [ngClass]="(!availableButtons.octp) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button3" (click)="changeType('octp')">OCT Posterior</button>
            <button type="submit" [disabled]="!availableButtons.octa" class="btn" [ngClass]="(!availableButtons.octa) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button4" (click)="changeType('octa')">OCT Anterior/HRT</button>
            <button type="submit" [disabled]="!availableButtons.otra1" class="btn" [ngClass]="(!availableButtons.otra1) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button5" (click)="changeType('otra1')">OCT Post. Tritón</button>
            <button type="submit" [disabled]="!availableButtons.otra2" class="btn" [ngClass]="(!availableButtons.otra2) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button6" (click)="changeType('otra2')">OCT 2 Maestro</button>
        </div>
        <div class="center-div">
            <button type="submit" [disabled]="!availableButtons.reti" class="btn" [ngClass]="(!availableButtons.reti) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button7" (click)="changeType('reti')">Retinografía</button>
            <button type="submit" [disabled]="!availableButtons.angi" class="btn" [ngClass]="(!availableButtons.angi) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button8" (click)="changeType('angi')">Angiografía</button>
            <button type="submit" [disabled]="!availableButtons.conta" class="btn" [ngClass]="(!availableButtons.conta) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button9" (click)="changeType('conta')">Contaje Células</button>
            <button type="submit" [disabled]="!availableButtons.bio" class="btn" [ngClass]="(!availableButtons.bio) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button10" (click)="changeType('bio')">Biometrías</button>
            <button type="submit" [disabled]="!availableButtons.polo" class="btn" [ngClass]="(!availableButtons.polo) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button11" (click)="changeType('polo')">Polo Anterior</button>
            <button type="submit" [disabled]="!availableButtons.paqui" class="btn" [ngClass]="(!availableButtons.paqui) ? 'btn-default' : 'btn-primary'"
                jhiTranslate="history.detail.button12" (click)="changeType('paqui')">Paquimetría</button>
        </div>
    </div>
    <div *ngIf="user">
        <div class="right-div">
            <div class="table-responsive" *ngIf="detail">
                <table class="table table-striped">
                    <thead>
                        <tr class="no-selected">
                            <!--[callback]="transition.bind(this)">-->
                            <th>
                                <span jhiTranslate="history.patients.visit">Visita</span>
                            </th>
                            <th>
                                <span jhiTranslate="history.patients.date">Fecha</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="detail">
                        <ng-container *ngFor="let h of (detail); let i = index; trackBy: historial">
                            <tr *ngIf="hasType(h)" (click)="changeVisit(h.visita)" [ngClass]="(h.visita===currentUserDetail.visita)?'selected':''">
                                <td>{{h.visita}}</td>
                                <td>{{h.fecha}}</td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="left-div">
            <div class="ojo-izq" *ngIf="currentType !== 'reti' && currentType !== 'angi'">
                <h2>Ojo Izquierdo</h2>
            </div>
            <div class="ojo-der" *ngIf="currentType !== 'reti' && currentType !== 'angi'">
                <h2>Ojo Derecho</h2>
            </div>
            <div class="w50" *ngIf="currentType !== 'reti' && currentType !== 'angi'">
                <ng-container *ngFor="let i of (images); let index = index;">
                    <div class="img-container" *ngIf="i.eye === 'OD'">
                        <img [src]="'data:image/png;base64,' + i.data" alt="index" (click)="openPopUp('data:image/png;base64,' + i.data)">
                    </div>
                </ng-container>
            </div>
            <div [ngClass]="(currentType !== 'reti' && currentType !== 'angi') ? 'w50 derecho' : 'w100'">
                <ng-container *ngFor="let i of (images) | orderBy: 'creationDate'; let index = index;">
                    <div class="img-container" *ngIf="i.eye === 'OI'">
                        <img [src]="'data:image/png;base64,' + i.data" alt="index" (click)="openPopUp('data:image/png;base64,' + i.data)">
                    </div>
                </ng-container>
            </div>
        </div>

    </div>

</div>