.center-div {
  text-align:center;
  padding-bottom: 1em;
}

.right-div {
  padding: 20px;
  width: 30%;
  float: left;
}

.left-div {
  padding-top: 20px;
  width: 70%;
  float: left;
}

button {
	cursor: pointer;
}
button:disabled {
	cursor: default;
}

.comparison-button{
  float: right;
}

.visit-title{
  float: left;
}